[package]
name = "knight-bot"
version = "1.0.0"
authors = ["Cyber Knight <npv12@iitbbs.ac.in>"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
getrandom = "0.2"
grammers-client = { git = "https://github.com/Lonami/grammers" }
grammers-session = { git = "https://github.com/Lonami/grammers" }
librustbin = "0.2.0"
log = { version = "0.4.17" }
pretty_env_logger = "0.4.0"
reqwest = { version = "0.11.17", features = ["json"] }
serde = { version = "1.0.163", features = ["derive"]}
serde_json = "1.0.50"
tokio = { version = "1.28.0", features = ["full"] }
toml = "0.7.3"

[features]
default = ["html", "markdown"]
html = ["grammers-client/html"]
markdown = ["grammers-client/markdown"]
